dl, ol, ul
		{
			margin-bottom: 0rem; 
		}
		.pb-1, .py-1
		{
			
		}
		.pt-2
		{
			    padding-top: .5rem !important;
		}
.dataTables_wrapper
{
	width: 100%;
}
.bg-dark
{
	--bg-opacity: 1 !important;
    background-color: #1a202c !important;
    background-color: rgba(26,32,44,var(--bg-opacity)) !important;
}
.mr-3
{
	text-align: center;
}
.d-table
{
	display: table;;
	width: 100%;
}
.pull-right
{
	float: right;;
}
.pull-left
{
	float: left;
}
.main-content
{
	margin-top: 60px;
}
.nav-fixed
{
	    position: fixed;
    width: 100%;
    z-index: 1000;
}